body {
    background-color: purple;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 1024px;
    margin: 0 auto;
}
#heading {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    font-size: 64px;
    text-transform: uppercase;
    color: white;
}
.buttons {
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 1rem;
}
